@tailwind base;
@tailwind components;
@tailwind utilities;

/* ... */

:root {
  --color-primary: #37373f;
  --color-primary-transparent: #373739bf;
  --color-background: #f4f4f5;
  --color-backgroundLighter: #fafafa;
  --color-text: #000000;
  --color-shadow: #ffffff00;
}

[data-theme='dark'] {
  --color-primary: #373739;
  --color-primary-transparent: #373739bf;
  --color-background: #09090b;
  --color-backgroundLighter: #0f0f18;
  --color-text: #ffffff;
  --color-shadow: #ffffff;

  ::selection {
    color: #00ff41;
  }
}

[data-theme='light'] {
  --color-primary: #d4d4d4;
  --color-primary-transparent: #d4d4d4bf;
  --color-background: #f4f4f5;
  --color-backgroundLighter: #ffffff;
  --color-text: #000000;
  --color-shadow: #ffffff00;

  ::selection {
    color: #1552d6;
  }
}

[data-theme='sunset'] {
  --color-primary: #d4d4d4;
  --color-primary-transparent: #d4d4d4bf;
  --color-background: #000329;
  --color-backgroundLighter: #ff3c3c;
  --color-text: #db8f00;

  ::selection {
    color: #1552d6;
  }
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto.ttf');
}

@font-face {
  font-family: 'RobotoSerif';
  src: url('./assets/fonts/RobotoSerif.ttf');
}
